@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Quicksand", sans-serif;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header header header"
    "cajauno cajauno aside"
    "cajados cajatres aside"
    "footer footer footer";
    grid-template-rows: 25% 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;
    height: 100vh; /*Porcentaje de altura*/
} 

.encabezado{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 25vh;
    list-style: none;
    justify-content: center;
}
header{
    grid-area: header;
    background-image: url(./Imagenes/tittle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{

    width: 30%;
    display: flex;
    display: block;
    text-align: center;
}

.logo img{
    height: 132px;
}

.menu{
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu ul{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.menu ul li{
    display: flex;
    display: inline-block;
    padding: 15px;
    font-size: 25px;
    color: black;
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: black;
}

#excep{
    border-right: none;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    text-transform: uppercase;
    margin: 0;
}

.caja {
    width: 150px;
    height: 150px;
}

.caja_uno{
    background-color: brown;
    grid-area: cajauno;
}

.caja_dos{
    background-color: blue;
    grid-area: cajados;
}

.caja_tres{
    background-color: blueviolet;
    grid-area: cajatres;
}

aside{
    background-color: darkgoldenrod;
    grid-area: aside;
}

footer{
    grid-area: footer;
}
